@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}


.space {
    margin-left: 7%;
    margin-right: 7%;
}

/* banner container styles  */

header {
    background-color: #f1c6d0;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
}

.banner-title {
    font-size: 3rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 1.5rem;
}

.banner-btn {
    border: none;
    background-color: #E55473;
    padding: 0.9rem 1.5rem;
    border-radius: 5px;
    color: #fff;
    margin-top: 1.5rem;
}

.banner-img img {
    width: 100%;
    ;
    height: auto;
}

/* our featured flower container styles  */

.our-featured-container {
    margin: 3rem 0;
}

.our-featured-title {
    font-size: 2rem;
    font-weight: 800;
    color: #272727;
    margin-bottom: 1.5rem;
}

.our-featured-content {
    text-align: center;
}

.featured-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.item {
    text-align: center;
    padding: 2rem;
}

.item1 {
    background-color: #e6b0ca;
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.item2 {
    background-color: #bce8eb;
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.item3 {
    background-color: #6c8058;
    border: none;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 2rem;
    margin-bottom: 1rem;
}

.item img {
    height: 200px;
}

/* Our services container styles  */

.services-container{
    height: 200px;
    margin-bottom: 3rem;
}

.services-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: #2727270D;
    padding: 2rem;
    border-radius: 8px;
}

.service {
    text-align: center;
}

/* hot deal container styles  */

.hot-deal-container{
    margin-bottom: 3rem;
}

.hot-deal-container{
    background-color: #E554738F;
}

.off-text{
    color: #E55473;
}

.deal-content{
    text-align: center;
}

.deal-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hot-deal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

/* Instagram container styles start from here  */

.instagram-container{
    margin-bottom: 3rem;
}

.instagram-content{
    text-align: center;
    margin-bottom: 2.8rem;
}

.instagram-content-title{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.instagram-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.instagram-image img{
    width: 100%;
}






/* Responsive for small devices  */

@media screen and (max-width: 668px) {
    .space {
        margin-left: 3%;
        margin-right: 3%;
    }

    .banner-container,
    .featured-items {
        flex-direction: column;
    }
    .item img {
        width: 300px;
        height: 100%;
    }
    .services-container{
        height: auto;
    }
    
    .services-content{
        flex-direction: column;
    }
    .hot-deal-content{
        flex-direction: column;
    }
    .instagram-images{
        grid-template-columns: repeat(1, 1fr);
    }
    
}


/* Responsive for medium device  */

@media screen and (min-width: 668px) and (max-width: 992px){
    .space {
        margin-left: 3%;
        margin-right: 3%;
    }

    
    .featured-items {
        flex-wrap: wrap;
    }
    .services-container{
        height: auto;
    }
    .instagram-images{
        grid-template-columns: repeat(2, 1fr);
    }
    
}